# MLR

In [122]:
bcada311_ex3=pd.read_csv(r"C:\Users\BIGDATA\Downloads\Salary_Data (1).csv")
bcada311_ex3

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [123]:
bcada311_ex3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [124]:
bcada311_ex3.isnull().sum()
bcada31_ex3=bcada311_ex3.dropna()

In [126]:
bcada31_ex3.describe()

               Age  Years of Experience         Salary
count  6698.000000          6698.000000    6698.000000
mean     33.623022             8.095178  115329.253061
std       7.615784             6.060291   52789.792507
min      21.000000             0.000000     350.000000
25%      28.000000             3.000000   70000.000000
50%      32.000000             7.000000  115000.000000
75%      38.000000            12.000000  160000.000000
max      62.000000            34.000000  250000.000000

In [157]:
x=bcada31_ex3[['Age',"Years of Experience"]]
x

       Age  Years of Experience
0     32.0                  5.0
1     28.0                  3.0
2     45.0                 15.0
3     36.0                  7.0
4     52.0                 20.0
...    ...                  ...
6699  49.0                 20.0
6700  32.0                  3.0
6701  30.0                  4.0
6702  46.0                 14.0
6703  26.0                  1.0

[6698 rows x 2 columns]

In [158]:
y=bcada31_ex3.loc[:,'Salary']
y

0        90000.0
1        65000.0
2       150000.0
3        60000.0
4       200000.0
          ...
6699    200000.0
6700     50000.0
6701     55000.0
6702    140000.0
6703     35000.0
Name: Salary, Length: 6698, dtype: float64

In [159]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=16)
x_train

       Age  Years of Experience
2944  31.0                  6.0
3721  27.0                  3.0
4953  28.0                  6.0
1540  43.0                 13.0
5358  27.0                  2.0
...    ...                  ...
4552  31.0                  7.0
637   31.0                  9.0
1347  27.0                  3.0
583   33.0                 11.0
2172  43.0                 14.0

[5358 rows x 2 columns]

In [160]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [161]:
y_pred=mlr.predict(x_test)

In [162]:
mlr.intercept_

100003.05663125041

In [163]:
mlr.coef_

array([-1730.5306244 ,  9055.09083959])

In [164]:
from sklearn.metrics import mean_squared_error , r2_score

In [165]:
mean_sq=mean_squared_error(y_test,y_pred)
mean_sq

933317441.0767564

In [166]:
r2=r2_score(y_test,y_pred)
r2

0.6613261043233526

In [169]:
predi=mlr.predict([[19,21]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(